<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

<div class="navbar has-dropdown">
  <div class="navbar-brand">
    <a href="/" class="navbar-item">EMS</a>
  </div>
  <a class="navbar-item" href="/mediamanager/music">
    <span class="material-icons">music_note</span>
    Music
  </a>
  <a class="navbar-item" href="/mediamanager/movies">
    <span class="material-icons">movie</span>
    Movies
  </a>
  <a class="navbar-item" href="/mediamanager/tv">
    <span class="material-icons">tv</span>
    Shows
  </a>
  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
      <span class="material-icons">upload</span>
      Upload
    </a>
    <div class="navbar-dropdown">
      <a class="navbar-item" href="/music/upload">
        <span class="material-icons">music_note</span>
        Music
      </a>
      <a class="navbar-item" href="/movies/upload">
        <span class="material-icons">movie</span>
        Movies
      </a>
      <a class="navbar-item" href="/shows/upload">
        <span class="material-icons">tv</span>
        Shows
      </a>
    </div>
  </div>
</div>
</nav>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />