<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>

  <meta property="og:title" content="LeftLane Community">

  <link rel="icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/public/styles/main.css">
  <script>
    function updateClock() {
      const now = new Date();
      const timeString = now.toLocaleTimeString();
      document.getElementById("clock").textContent = timeString;
    }
    setInterval(updateClock, 1000);
    document.addEventListener("DOMContentLoaded", updateClock);
  </script>
</head>
<body>
{{>navbar}}
<div class="container text-center my-5">
  <h1 class="display-4">mattwiner.org</h1>
</div>

<div class="container my-5">
  <div class="row text-center">
    <h2 class="h4">Current Time</h2>
    <p id="clock" class="display-4 text-primary"></p>
  </div>
</div>
<div class="row text-center">
  <h2 class="h4">Media Manager</h2>
  <a href="/mediamanager">Media Manager</a>
</div>
<div class="row">
  {{#each links}}
  <div class="col-md-3 mb-4">
    <div class="card text-center h-100">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{this.status}}</h6>
        <span class="material-icons" style="font-size: 36px;">{{this.icon}}</span>
        <br>
        <a href="{{this.url}}" type="button" class="btn btn-primary">{{this.name}}</a>
        <p class="card-text mt-2">{{this.description}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>
</body>