<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
 </head>
<body>
{{> navbar}}
<table class="table">
  <thead>
    <tr>
      <th>Movie Title</th>
      <th>Year</th>
      <th>Rating</th>
      <td>Critic Rating</td>
      <td>Community Rating</td>
    </tr>
  </thead>
  <tbody>
  {{#each items}}
  <tr>
    <td>
      {{#if ImageTags.Primary}}
      <img src="https://media.mattwiner.org/Items/{{Id}}/Images/Primary?maxHeight=120" alt="{{Name}}" class="img-thumbnail">
      {{/if}}
    </td>
    <td class="is-primary">{{Name}}</td>
    <td>{{ProductionYear}}</td>
    <td>{{OfficialRating}}</td>
    <td>{{CriticRating}}</td>
    <td>{{CommunityRating}}</td>
    <td>{{Overview}}</td>
    <td>
      <a href="/mediamanager/play/{{Id}}" class="btn btn-sm btn-primary">Play</a>
    </td>
  </tr>
  {{/each}}
  </tbody>
</table>

</body>
</html>